.page-footer {
  background-color: hsl(0, 0%, 95%);
  margin: 0px;
  padding: 0px;
  border: 1px solid red;
  height: 160px;
}

.page-footer__wrapper {
  height: 160px;
}

.page-footer__social {
  height: 50%;
}

.page-footer__copyright {
  height: 50%;
}
