.about-us {
  background-color: hsl(0, 0%, 100%);
  margin: 0px;
  padding: 30px;
  border: 1px solid red;
}

.about-us__wrapper {
  background-color: hsl(0, 0%, 100%);
  border: 1px solid red;
}

.about-us__header {
  padding: 0px;
  margin: 0px;
  font-size: 25px;
  font-weight: bold;
  line-height: 1.2;
  text-align: left;
  color: hsl(0, 0%, 0%);
}

.about-us__list {
  list-style: none;
  margin: 0px;
  padding: 0px;
}

.about-us__item {
  font-size: 17px;
  font-weight: bold;
  line-height: 1.18;
  text-align: left;
  color: hsl(0, 0%, 0%);
}
