.best-product {
  background-color: @white;
  margin: 0;
  position: relative;

  &::after {
    content: "";
    display: block;
    background-image: url("../img/bg-zigzag-line.svg");
    background-size: 100%;
    background-position: right -25px bottom;
    background-repeat: repeat-x;
    height: 23px;
    width: 100%;
  }

  @media @desktop {
    &::after {
      max-width: 1050px;
      margin-left: auto;
      margin-right: auto;
      margin-top: -10px;
      margin-bottom: 10px;
    }
  }
}

.best-product__wrapper {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  padding-top: 26px;
  padding-bottom: 20px;

  @media @tablet {
    min-height: 597px;
    padding-top: 47px;
    padding-bottom: 40px;
  }

  @media @desktop {
    min-height: 786px;
    padding-left: 174px;
    padding-top: 54px;
    padding-bottom: 78px;
    margin-left: auto;
  }
}

.best-product__info {
  display: flex;
  flex-direction: column;

  @media @tablet {
    max-width: 292px;
  }

  @media @desktop {
    padding-top: 72px;
  }
}

.best-product__name {
  order: -1;
  font-size: 25px;
  font-weight: bold;
  line-height: 1.2;
  text-align: left;
  color: @black;
  margin: 0;
  padding: 0;
  margin-bottom: 8px;
  z-index: 1;

  @media @tablet {
    font-size: 43px;
    line-height: 1.16;
    margin-bottom: 48px;
  }

  @media @desktop {
    font-size: 53px;
    line-height: 1.08;
  }
}

.best-product__header {
  font-size: 17px;
  font-weight: bold;
  line-height: 1.18;
  text-align: left;
  color: @green;
  padding: 0;
  margin: 0;
  margin-bottom: 20px;
  text-transform: uppercase;

  @media @tablet {
    display: block;
    width: 70px;
    position: absolute;
    right: 75px;
    font-size: 17px;
    line-height: 1;
    text-align: center;
    margin: 0;
    margin-top: 12px;
  }

  @media @desktop {
    right: auto;
    left: 0;
    margin-left: 47px;
    margin-top: 12px;
  }
}

.best-product__description {
  font-size: 15px;
  font-weight: normal;
  line-height: 1.6;
  text-align: left;
  color: @grey-dark;
  margin: 0;
  padding: 0;
  margin-bottom: 20px;

  @media @tablet {
    font-size: 17px;
    line-height: 1.76;
    margin-bottom: 40px;
  }

  @media @desktop {
    font-size: 17px;
    line-height: 1.76;
    margin-bottom: 50px;
  }
}

.best-product__table {
  border-collapse: collapse;
  font-size: 15px;
  font-weight: normal;
  line-height: 1.33;
  text-align: left;
  color: @grey-dark;
  margin: 0;
  padding: 0;
  margin-bottom: 28px;

  @media @tablet {
    margin-bottom: 0;
  }
}

.best-product__table-column {
  height: 39px;
  border-bottom: 1px solid #ececec;
}

.best-product__table-row {
  height: 39px;
  border-bottom: 1px solid #ececec;
}

.best-product__image {
  display: block;
  width: 260px;
  height: 315px;
  margin-left: auto;
  margin-right: auto;

  @media @tablet {
    width: 333px;
    height: 404px;
  }

  @media @desktop {
    width: 525px;
    height: 636px;
  }
}

.best-product__image-wrapper {
  @media @tablet {
    background-color: @placeholder-img-color;
    order: 1;
    margin: 0;
    position: absolute;
    right: 53px;
    bottom: 40px;
  }

  @media @desktop {
    margin-top: auto;
    right: 0;
    bottom: 78px;
  }
}

.best-product__purchase {
  margin-top: 22px;

  @media @tablet {
    margin-top: auto;
    width: 292px;
  }
}

.best-product__price {
  color: @grey-dark;
  font-size: 17px;
  font-weight: bold;
  line-height: 1.41;
  text-align: center;
  margin: 0;

  @media @tablet {
    font-size: 20px;
    line-height: 1.2;
  }
}

.best-product__link {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 52px;
  width: 100%;
  border: solid 2px @grey-dark;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 17px;
  font-weight: bold;
  line-height: 1.18;
  color: @grey-dark;
  margin-top: 28px;
  background: @white;
  cursor: pointer;

  &:hover {
    color: @white;
    background-color: @grey-dark;
  }

  &:active {
    color: @white-30;
    background-color: @grey-dark;
  }

  @media @tablet {
    margin-top: 36px;
  }
}
