.best-product {
  background-color: @white;
  margin: 0;
}

.best-product__wrapper {
  padding-top: 30px;
  padding-bottom: 35px;
}

.best-product__header {
  font-size: 17px;
  font-weight: bold;
  line-height: 1.18;
  text-align: left;
  color: @green;
  margin: 0;
  padding: 0;
}

.best-product__name {
  font-size: 25px;
  font-weight: bold;
  line-height: 1.2;
  text-align: left;
  color: @black;
  margin: 0;
  padding: 0;
}

.best-product__description {
  font-size: 15px;
  font-weight: normal;
  line-height: 1.6;
  text-align: left;
  color: @grey-dark;
  margin: 0;
  padding: 0;
}

.best-product__table {
  font-size: 15px;
  font-weight: normal;
  line-height: 1.33;
  text-align: left;
  color: @grey-dark;
  margin: 0;
  padding: 0;
}

.best-product__image {
  height: auto;
  width: 100%;
}

.best-product__purchase {
  font-size: 17px;
  font-weight: bold;
  text-align: center;
  color: @grey-dark;
}

.best-product__price {
  line-height: 1.41;
  margin: 0;
  padding: 0;
}

.best-product__link {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 52px;
  text-decoration: none;
  border: solid 2px @grey-dark;
  line-height: 1.18;
  color: @grey-dark;
  text-transform: uppercase;

  &:hover {
    color: @white;
    background-color: @grey-dark;
  }

  &:active {
    color: @white-30;
    background-color: @grey-dark;
  }
}
