.catalog {
  background-color: @white;
}

.catalog__wrapper {
  padding-top: 30px;
}

.catalog__header {
  margin: 0;
  padding: 42px 74px;
  font-size: 27px;
  font-weight: bold;
  line-height: 1.11;
  text-align: center;
  color: @black;
  background-color: @grey-light;
}

.catalog__item {
  margin-bottom: 30px;
}
