.catalog__wrapper {
  padding-top: 30px;
  display: flex;
  flex-direction: column;

  @media @tablet {
    padding-top: 60px;
  }

  @media @desktop {
    padding-top: 128px;
    flex-direction: row;
    justify-content: space-between;
  }
}

.catalog__header {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 27px;
  font-weight: bold;
  line-height: 1.11;
  color: @black;
  background-color: @grey-light;
  margin: 0 auto;
  height: 177px;
  position: relative;

  @media @tablet {
    height: 244px;
    font-size: 43px;
    line-height: 1.16;

    &::after {
      display: block;
      content: "";
      position: absolute;
      left: 0;
      bottom: 0;
      background-image: url("../img/bg-zigzag-fill.svg");
      background-position: bottom center;
      background-size: auto 23px;
      height: 23px;
      width: 100%;
      z-index: 1;
    }
  }

  @media @desktop {
    height: 255px;
    font-size: 53px;
    line-height: 1.08;

    &::after {
      bottom: -16px;
      background-size: auto 34px;
      height: 34px;
    }
  }
}

.catalog__item {
  margin-bottom: 35px;

  @media @tablet {
    margin-bottom: 55px;
  }

  @media @desktop {
    margin-bottom: 30px;
  }
}
