.contacts {
  background-color: @white;
}

.contacts__wrapper {
  background-color: @white;
  padding: 45px 0 40px 0;
}

.contacts__header {
  font-size: 18px;
  font-weight: bold;
  line-height: 1.67;
  text-align: left;
  color: @black;
  margin: 0 30px;
}

.contacts__address,
.contacts__email {
  font-size: 15px;
  font-weight: normal;
  line-height: 2;
  text-align: left;
  color: @grey-dark;
  margin: 0 30px;
}

.contacts__write-to-us {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 52px;
  border: solid 2px @grey-dark;
  font-size: 17px;
  font-weight: bold;
  line-height: 1.18;
  text-align: center;
  color: @grey-dark;
  text-transform: uppercase;
  text-decoration: none;
  margin: 0 30px;

  &:hover {
    color: @white;
    background-color: @grey-dark;
  }

  &:active {
    color: @white-30;
    background-color: @grey-dark;
  }
}

.contacts__map {
  height: auto;
  width: 100%;
}
