.form {
  background-color: hsl(0, 0%, 100%);
  border: 1px solid red;
}

.form__submit {
  height: 52px;
  border: solid 2px hsl(0, 0%, 27%);
  font-size: 17px;
  font-weight: bold;
  line-height: 1.18;
  text-align: center;
  color: hsl(0, 0%, 27%);
  background-color: hsl(0, 0%, 100%);
  text-transform: uppercase;

  &:hover {
    color: hsl(0, 0%, 100%);
    background-color: hsl(0, 0%, 27%);
  }

  &:active {
    color: hsla(0, 0%, 100%, 0.3);
    background-color: hsl(0, 0%, 27%);
  }
}
