.form {
  background-color: @white;
}

.form__description {
  margin: 0;
  font-size: 13px;
  line-height: 1.85;
  text-align: left;
  color: @grey-dark;
}

.form__item {
  padding-bottom: 30px;
  border: none;
  border-top: 2px solid @green;
}

.form__info {
  display: block;
  font-size: 14px;
  line-height: 1.14;
  text-align: left;
  color: @grey-dark;
}

.form__submit {
  height: 52px;
  border: solid 2px @grey-dark;
  font-size: 17px;
  font-weight: bold;
  line-height: 1.18;
  text-align: center;
  color: @grey-dark;
  background-color: @white;
  text-transform: uppercase;

  &:hover {
    color: @white;
    background-color: @grey-dark;
  }

  &:active {
    color: @white-30;
    background-color: @grey-dark;
  }
}
