@bg-color: #f1f1f1;

.form {
  padding-top: 20px;
  padding-bottom: 50px;
  margin: 0;
  display: flex;
  flex-direction: column;

  @media @tablet {
    padding-top: 72px;
  }

  @media @desktop {
    padding-top: 120px;
  }
}

.form__description {
  font-size: 13px;
  line-height: 1.85;
  text-align: left;
  color: @grey-dark;
  margin: 0;
  margin-bottom: 26px;

  @media @tablet {
    font-size: 17px;
    line-height: 1.76;
    margin-bottom: 10px;
  }

  @media @desktop {
    max-width: 700px;
  }
}

.form__wrapper {
  position: relative;

  @media @tablet {
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 212px;
  }

  @media @desktop {
    padding-left: 170px;
    padding-right: 78px;
  }
}

.form__section:nth-of-type(odd) {
  @media @tablet {
    background-color: @grey-light;
  }
}

.form__item {
  padding: 0;
  border: none;
  border-top: 1px solid @green;
  font-size: 17px;
  font-weight: bold;
  line-height: 1.06;
  text-align: left;

  @media @tablet {
    font-size: 19px;
    line-height: 0.95;
    border: none;
  }

  @media @desktop {
    font-size: 19px;
    line-height: 0.95;
  }
}

.form__item--type {
  padding-top: 27px;
  padding-bottom: 30px;

  @media @tablet {
    padding: 0;
  }
}

.form__radio--interior {
  margin-bottom: 20px;
}

.form__item--color {
  padding-top: 27px;
  padding-bottom: 15px;

  @media @tablet {
    padding: 0;
  }
}

.form__item--name {
  padding-top: 27px;
  padding-bottom: 6px;

  @media @tablet {
    padding: 0;
  }
}

.form__item--name .form__text {
  margin-bottom: 24px;
}

.form__text:nth-last-child(1) {

  @media @tablet {
    margin: 0;
  }
}

.form__item--phone {
  padding-top: 5px;
  padding-bottom: 35px;

  @media @tablet {
    padding: 0;
  }
}

.form__item--email {
  padding-top: 5px;
  padding-bottom: 35px;

  @media @tablet {
    padding-top: 26px;
    padding-bottom: 0;
  }
}

.form__legend {
  font-size: 17px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 0.94;
  color: @green;
  padding-right: 25px;
  text-transform: uppercase;

  @media @tablet {
    position: absolute;
    top: 70px;
    left: 50px;
  }

  @media @desktop {
    left: 60px;
  }

  &--email {
    top: 146px;
    bottom: 70px;
  }
}

.form__checkbox,
.form__radio {
  padding-left: 64px;
  height: 40px;
  display: flex;
  align-items: center;
  cursor: pointer;

  @media @tablet {
    padding-left: 84px;
    height: 52px;
  }
}

.form__checkbox {
  margin-bottom: 20px;

  @media @tablet {
    margin: 0;
    width: 48%;
  }

  @media @desktop {
    width: 33%;
    // margin-bottom: 27px;
  }
}

.form__checkbox:nth-of-type(even) {


  @media @tablet {
    margin-left: auto;
  }

  @media @desktop {
    margin-left: unset;
  }
}

// .form__radio:first-of-type,
// .form__checkbox:first-of-type,
// .form__text:first-of-type {
//   margin-top: 30px;

//   @media @tablet {
//     margin-top: 0;
//   }
// }

.form__radio-box {
  border-radius: 100%;
}

.form__flex-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;

  @media @tablet {
    flex-direction: row;
    align-content: space-between;
    height: 204px;
  }

  @media @desktop {
    height: 128px;
  }
}

.form__checkbox-input,
.form__radio-input {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
}

.form__checkbox-box,
.form__radio-box {
  position: absolute;
  width: 40px;
  height: 40px;
  border: 2px solid @grey-dark;
  margin-left: -64px;

  &:hover {
    border-color: @green;
  }

  &:active {
    opacity: 0.3;
  }

  @media @tablet {
    width: 54px;
    height: 52px;
    margin-left: -82px;
  }
}

.form__checkbox-input:checked + .form__checkbox-box,
.form__radio-input:checked + .form__radio-box {
  background-repeat: no-repeat;
  background-position: center;
}

.form__checkbox-input:focus + .form__checkbox-box,
.form__radio-input:focus + .form__radio-box {
  border-color: @green;
}


.form__checkbox-input:checked + .form__checkbox-box {
  background-image: url("data:image/svg+xml,%3Csvg version='1.1' id='Layer_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' width='32.666px' height='22.742px' viewBox='0 0 32.666 22.742' enable-background='new 0 0 32.666 22.742' xml:space='preserve'%3E%3Cpolygon points='32.666,1.414 31.252,0 11.338,19.914 1.414,9.989 0,11.403 9.924,21.328 9.924,21.328 11.338,22.742 11.338,22.742 11.339,22.742 12.753,21.328 12.752,21.328 '/%3E%3C/svg%3E%0A");
  background-size: 22px 16px;

  @media @tablet {
    background-size: 32px 22px;
  }
}

.form__radio-input:checked + .form__radio-box {
  background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 120 120' version='1.1' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle fill='%2363d1bb' cx='60' cy='60' r='60'/%3E%3C/svg%3E");
  background-size: 16px;

  @media @tablet {
    background-size: 22px;
  }
}

.form__text {
  font-size: 17px;
  font-weight: bold;
  line-height: 1.06;
  text-align: left;
  display: flex;
  flex-direction: column;

  @media @tablet {
    font-size: 19px;
    line-height: 0.95;
    flex-direction: row;
    align-items: center;
  }

  @media @desktop {
    width: 700px;
  }
}

.form__text-input {
  @media @tablet {
    margin-left: 25px;
  }

  @media @desktop {
  }
}

.form__text-input,
.form__tel-input,
.form__email-input {
  height: 52px;
  border: none;
  border-bottom: 2px solid @black;
  width: 100%;
  background-color: transparent;

  &:hover {
    border-color: @green;
  }

  &:focus {
    border-color: @green;
    outline: none;
  }

  @media @desktop {
    max-width: 700px;
  }
}

// .form__email-input {
//   @media @tablet {
//     margin-top: 24px;
//   }
// }

// .form__tel-input,
// .form__email-input {
//   margin-bottom: 24px;

//   @media @tablet {
//     margin-bottom: unset;
//   }
// }

.form__text-input::placeholder,
.form__tel-input::placeholder,
.form__email-input::placeholder {
  opacity: 0.3;
  font-size: 17px;
  line-height: 1.06;

  @media @tablet {
    font-size: 19px;
    line-height: 0.95;
    padding-left: 18px;
  }
}

.form__textarea-input {
  margin-bottom: 18px;
  margin-top: 24px;
  border: 2px solid @black;
  height: 142px;
  width: 100%;
  padding: 18px;

  &:hover {
    border-color: @green;
  }

  &:focus {
    border-color: @green;
    outline: none;
  }

  @media @tablet {
    margin: 0;
    max-width: 700px;
  }
}

.form__info {
  display: block;
  font-size: 14px;
  line-height: 1.14;
  text-align: left;
  color: @grey-dark;
  margin-bottom: 31px;

  @media @tablet {
    font-size: 17px;
    line-height: 1.76;
    text-align: right;
    margin-top: auto;
    margin-bottom: auto;
  }
}

.form__submit {
  height: 52px;
  border: solid 2px @grey-dark;
  font-size: 17px;
  font-weight: bold;
  line-height: 1.18;
  text-align: center;
  color: @grey-dark;
  text-transform: uppercase;
  background-color: @white;
  width: 100%;
  cursor: pointer;

  &:hover {
    color: @white;
    background-color: @grey-dark;
  }

  &:active {
    color: @white-30;
    background-color: @grey-dark;
  }

  @media @tablet {
    max-width: 230px;
  }
}

.form__footer {
  @media @tablet {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
  }

  @media @desktop {
    width: 700px;
  }
}
