.info {
  background-color: @white;
  border: 1px solid red;
}

.info__header {
  font-size: 17px;
  font-weight: bold;
  line-height: 1.18;
  text-align: left;
  color: @green;
}

.info__name {
  font-size: 25px;
  font-weight: bold;
  line-height: 1.2;
  text-align: left;
  color: @black;
}

.info__description {
  font-size: 15px;
  font-weight: normal;
  line-height: 1.6;
  text-align: left;
  color: @grey-dark;
}

.info__table {
  font-size: 15px;
  font-weight: normal;
  line-height: 1.33;
  text-align: left;
  color: @grey-dark;
}

.info__image {
  height: auto;
  width: 100%;
}
