.make-order {
  background-color: hsl(0, 0%, 100%);
  border: 1px solid red;
}

.make-order__wrapper {
  border: 1px solid red;
}

.make-order__header {
  margin: 0;
  padding: 42px 74px;
  font-size: 27px;
  font-weight: bold;
  line-height: 1.11;
  text-align: center;
  color: hsl(0, 0%, 0%);
  background-color: hsl(0, 0%, 95%);
}
