.production {
  margin-bottom: 58px;

  @media @tablet {
    margin-bottom: 64px;
  }

  @media @desktop {
    margin-bottom: 110px;
  }
}

.production__wrapper {
  box-shadow: 0 0 0 1px #ececec;
  padding-bottom: 34px;
  padding-top: 22px;

  display: flex;
  flex-direction: column;

  &:hover {
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.1);
  }

  &:active {
    box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.1);
  }

  @media @tablet {
    padding-top: 0;
    padding-bottom: 46px;
  }

  @media @desktop {
    min-height: 455px;
    padding-bottom: 60px;
    margin-top: 30px;
  }
}

.production__header {
  display: flex;
  align-items: center;
  margin-left: 34px;
  padding: 0;
  margin-bottom: 26px;

  @media @tablet {
    margin-left: 42px;
    margin-bottom: 0;
  }

  @media @desktop {
    flex-direction: column;
    align-items: flex-start;
    padding: 0;
    margin: 0;
    margin-left: auto;
    margin-right: 57px;
    margin-top: 40px;
    margin-bottom: 0;
  }
}

.production__title {
  margin: 0;
  font-size: 17px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.41;
  letter-spacing: normal;
  text-align: left;
  color: @black;
  margin-left: 25px;

  @media @tablet {
    font-size: 20px;
    line-height: 1.2;
    margin-left: 32px;
  }

  @media @desktop {
    padding-right: 0;
    padding-left: 0;
    margin-left: 0;
    margin-top: 22px;
    width: 230px;
  }
}

.production__description {
  margin: 24px 34px 24px 34px;
  font-size: 13px;
  line-height: 1.85;
  text-align: left;
  color: @grey-dark;

  @media @tablet {
    margin: 34px 34px 30px 42px;
    font-size: 15px;
    line-height: 2;
  }

  @media @desktop {
    width: 230px;
    margin: 0;
    margin-left: auto;
    margin-right: 57px;
    margin-top: 34px;
  }
}

.production__video-wrapper {
  width: 100%;
  position: relative;

  @media @tablet {
    order: -1;
    margin-bottom: 30px;
  }

  @media @desktop {
    position: absolute;
    margin-bottom: 0;
    width: 682px;
    height: 455px;
  }
}

.production__video-play-button {
  border: none;
  background: none;
  position: absolute;
  padding: 0;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.production__video-play-icon {
  width: 101px;
  height: 77px;
  margin: auto 0;

  &:hover {
    width: calc(101px * 1.2);
    height: calc(77px * 1.2);
  }

  &:active {
    opacity: 0.3;
    width: calc(101px * 0.8);
    height: calc(77px * 0.8);
  }
}

.production__video-image {
  width: 100%;
  max-width: 100%;
  height: auto;
}

.production__buy {
  margin-left: 34px;
  margin-right: 34px;
  margin-top: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 52px;
  text-decoration: none;
  border: solid 2px @grey-dark;
  font-size: 17px;
  line-height: 0.94;
  color: @grey-dark;
  text-transform: uppercase;
  font-weight: bold;
  background-color: @white;
  cursor: pointer;

  &:hover {
    color: @white;
    background-color: @grey-dark;
  }

  &:active {
    color: @white-30;
    background-color: @grey-dark;
  }

  @media @tablet {
    margin-left: 40px;
    margin-right: 40px;
  }

  @media @desktop {
    width: 230px;
    margin: 0;
    margin-left: auto;
    margin-right: 57px;
    margin-top: auto;
  }
}
