.production__wrapper {
  box-shadow: 0 0 0 1px #ececec;
  padding-bottom: 34px;
  padding-top: 34px;
}

.production__header {
  margin: 0;
  padding: 0 34px 29px 91px;
  font-size: 17px;
  font-weight: bold;
  line-height: 1.41;
  text-align: left;
  color: @black;
}

.production__description {
  margin: 0;
  padding: 34px 34px 29px 34px;
  font-size: 13px;
  line-height: 1.85;
  text-align: left;
  color: @grey-dark;
}

.production__video {
  width: 100%;
}

.production__buy {
  margin: 0 34px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 52px;
  text-decoration: none;
  border: solid 2px @grey-dark;
  line-height: 1.18;
  color: @grey-dark;
  text-transform: uppercase;
  font-weight: bold;

  &:hover {
    color: @white;
    background-color: @grey-dark;
  }

  &:active {
    color: @white-30;
    background-color: @grey-dark;
  }
}
