.production {
  margin-bottom: 58px;

  @media @tablet {
    margin-bottom: 64px;
  }

  @media @desktop {
    margin-bottom: 100px;
  }
}

.production__wrapper {
  box-shadow: 0 0 0 1px #ececec;
  padding-bottom: 34px;
  padding-top: 25px;

  display: flex;
  flex-direction: column;

  @media @tablet {
    padding-top: 0;
    padding-bottom: 46px;
  }

  @media @desktop {
    flex-wrap: wrap;
    height: 455px;
    padding-bottom: 60px;
  }
}

.production__header {
  display: flex;
  align-items: center;
  margin-left: 34px;
  padding: 0;
  margin-bottom: 26px;

  @media @tablet {
    margin-left: 42px;
    margin-bottom: 0;
  }

  @media @desktop {
    flex-direction: column;
    align-items: flex-start;
    padding: 0;
    margin: 0;
    margin-left: 18px;
    margin-top: 40px;
    margin-bottom: 0;
  }
}

.production__title {
  margin: 0;
  font-size: 17px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.41;
  letter-spacing: normal;
  text-align: left;
  color: @black;
  margin-left: 25px;

  @media @tablet {
    font-size: 20px;
    line-height: 1.2;
    margin-left: 32px;
  }

  @media @desktop {
    padding-right: 0;
    padding-left: 0;
    margin-left: 0;
    margin-top: 22px;
    width: 230px;
  }
}

.production__description {
  margin: 24px 34px 24px 34px;
  font-size: 13px;
  line-height: 1.85;
  text-align: left;
  color: @grey-dark;

  @media @tablet {
    margin: 34px 34px 30px 42px;
    font-size: 15px;
    line-height: 2;
  }

  @media @desktop {
    width: 230px;
    margin: 0;
    margin-left: 18px;
  }
}

.production__video {
  width: 100%;

  @media @tablet {
    order: -1;
    margin-bottom: 30px;
  }

  @media @desktop {
    margin-bottom: 0;
    width: 682px;
    height: 455px;
  }
}

.production__video-image {
  width: 100%;
  max-width: 100%;
  height: auto;
}

.production__buy {
  margin-left: 34px;
  margin-right: 34px;
  margin-top: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 52px;
  text-decoration: none;
  border: solid 2px @grey-dark;
  font-size: 17px;
  line-height: 0.94;
  color: @grey-dark;
  text-transform: uppercase;
  font-weight: bold;

  &:hover {
    color: @white;
    background-color: @grey-dark;
  }

  &:active {
    color: @white-30;
    background-color: @grey-dark;
  }

  @media @tablet {
    margin-left: 40px;
    margin-right: 40px;
  }

  @media @desktop {
    max-width: 230px;
    margin: 0;
    margin-left: 18px;
    margin-top: auto;
  }
}
