.reviews {
  &::after {
    content: "";
    display: block;
    background-image: url("../img/bg-zigzag-line.svg");
    background-size: 100%;
    background-position: right -25px bottom;
    background-repeat: repeat-x;
    height: 23px;
    width: 100%;
  }

  @media @desktop {
    &::after {
      max-width: 1050px;
      margin-left: auto;
      margin-right: auto;
    }
  }
}

.reviews__wrapper {
  margin-bottom: 38px;
  position: relative;

  @media @tablet {
    margin-bottom: 112px;
    margin-top: 72px;

    &::before {
      content: "";
      position: absolute;
      width: 350px;
      height: 457px;
      background-image: url("../img/review@1x.jpg");
      background-color: @placeholder-img-color;
      background-repeat: no-repeat;
      background-size: 100%;
      z-index: -1;
      top: -70px;
      left: 0;
    }
  }

  @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
    &::before {
      background-image: url("../img/review@2x.jpg");
    }
  }

  @media @desktop {
    padding-left: 168px;
    margin-bottom: 164px;
    margin-top: 68px;
  }
}

.reviews__header {
  padding: 0;
  margin: 0;
  margin-bottom: 24px;
  font-size: 25px;
  font-weight: bold;
  line-height: 1.2;
  text-align: left;
  color: @black;

  @media @tablet {
    font-size: 43px;
    line-height: 1.16;
    margin-bottom: 50px;
  }

  @media @desktop {
    font-size: 53px;
    line-height: 1.08;
  }
}

.reviews__item {
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
}

.reviews__text {
  font-size: 15px;
  line-height: 2;
  text-align: left;
  color: @grey-dark;
  margin: 0;
  margin-bottom: 30px;

  @media @tablet {
    font-size: 17px;
    line-height: 1.76;
    text-align: left;
    max-width: 768px;
    margin-bottom: 64px;
  }

  @media @desktop {
    margin-bottom: 15px;
  }
}

.reviews__author {
  font-size: 17px;
  font-weight: bold;
  font-style: normal;
  line-height: 1.41;
  text-align: left;
  color: @black;

  @media @tablet {
    font-size: 18px;
    line-height: 1.33;
  }

  @media @desktop {
    font-size: 17px;
    line-height: 1.41;
  }
}

.reviews__username {
  line-height: 1.76;
  font-size: 17px;
  color: @grey-dark;
}

.reviews__buttons {
  display: flex;
  justify-content: center;
  height: 52px;
  margin-top: 32px;
  margin-bottom: 36px;

  @media @tablet {
    width: 175px;
    position: absolute;
    bottom: 0;
    right: 50px;
    margin: 0;
  }

  @media @desktop {
    right: 0;
  }
}

.reviews__button {
  width: 50%;
  border: 1px solid #ececec;
  background: none;
  cursor: pointer;

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }

  @media @tablet {
    border: none;
  }
}

.reviews__send-review {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 52px;
  border: solid 2px @grey-dark;
  font-size: 17px;
  font-weight: bold;
  line-height: 1.18;
  text-align: center;
  color: @grey-dark;
  text-transform: uppercase;
  text-decoration: none;

  &:hover {
    color: @white;
    background-color: @grey-dark;
  }

  &:active {
    color: @white-30;
    background-color: @grey-dark;
  }

  @media @tablet {
    width: 175px;
    position: absolute;
    top: 0;
    right: 50px;
  }

  @media @desktop {
    top: 10px;
    right: 0;
  }
}
